@class-prefix-tab: ~'tfc-tabs';

.@{class-prefix-tab} {
  --header-background-color: #fff;
  --underline-top: '';
  --underline-bottom: '';
  --underline-left: '';
  --underline-right: '';
  --underline-horizontal-width: 100%;
  --underline-horizontal-height: var(--tfc-2);
  --underline-horizontal-margin: 0;
  --underline-vertical-width: var(--tfc-2);
  --underline-vertical-height: 100%;
  --underline-vertical-margin: 0;
  --underline-color: #f0f0f0;
  --underline-active-color: #6190e8;
  --underline-border-radius: 0;
  --pane-min-height: var(--tfc-200);

  &__header-horizontal {
    width: 100%;
    background-color: var(--header-background-color);
    box-sizing: border-box;
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  &__header-vertical {
    background-color: var(--header-background-color);
    box-sizing: border-box;
  }

  &__item {
    position: relative;
    flex: 1;
    padding: var(--tfc-24) var(--tfc-24);
    color: #333;
    font-size: var(--tfc-26);
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;

    &-underline {
      top: var(--underline-top);
      right: var(--underline-right);
      bottom: var(--underline-bottom);
      left: var(--underline-left);
      display: block;
      position: absolute;
      background-color: var(--underline-active-color);
      border-radius: var(--underline-border-radius);
      transition: all 0.15s;
    }

    &-underline--horizontal {
      transform: scaleX(0);
      width: var(--underline-horizontal-width);
      height: var(--underline-horizontal-height);
      margin-left: var(--underline-horizontal-margin);
      margin-right: var(--underline-horizontal-margin);
    }

    &-underline--vertical {
      transform: scaleY(0);
      width: var(--underline-vertical-width);
      height: var(--underline-vertical-height);
      margin-top: var(--underline-vertical-margin);
      margin-bottom: var(--underline-vertical-margin);
    }

    &--active {
      color: var(--underline-active-color);

      .@{class-prefix-tab}__item-underline {
        transform: scaleX(1);
      }
    }
  }

  &__body {
    transition-property: transform;
    transition-duration: 300ms;
  }

  &__body-horizontal {
    white-space: nowrap;
    height: 100%;
  }

  &__body-vertical {
    width: 100%;
  }

  &__pane {
    box-sizing: border-box;
  }

  &__pane-horizontal {
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }

  &__pane-vertical {
    display: block;
    width: 100%;
  }
}
