@class-prefix-variable-view: ~'tfc-variable-view';

.@{class-prefix-variable-view} {
  --refresh-color: '';
  --refresh-background-color: #dbd9d9;

  position: relative;
  overflow: hidden;

  &__refreshBox {
    position: absolute;
    top: calc(var(--tfc-72) * -1);
    width: 100%;
    height: var(--tfc-72);
    z-index: 10000;

    &__pullRefresh {
      &__iconBox {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--tfc-6);
        width: var(--tfc-60);
        height: var(--tfc-60);
        border-radius: 50%;
        background-color: var(--refresh-background-color);
        color: var(--refresh-color);

        &__icon {
          animation: tfc-spin 1.4s linear infinite;
        }
      }
    }
  }

  &__scrollView {
    height: 100%;
  }
}
