@class-prefix-modal: ~'tfc-modal';

.@{class-prefix-modal} {
  &__container {
    opacity: 0.01;
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: scale(1.35);

    &__action {
      color: var(--tfc-color-grey-0);
      text-align: center;
      transition: background-color 0.3s;
    }

    &__action__no__fill {
      color: #fff;
      text-align: center;
    }

    &__action--hover {
      background-color: var(--active-background-color);
    }
  }

  &__container--active {
    opacity: 1;
    transform: scale(1);
  }
}
