@class-prefix-badge: ~'tfc-badge';

.@{class-prefix-badge}-wrap {
  display: inline-block;
  position: relative;
}

.@{class-prefix-badge} {
  display: inline-block;
  color: #fff;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  min-width: var(--tfc-16);
  border-radius: var(--tfc-100);
  padding: 0 var(--tfc-8);
  font-size: var(--tfc-18);
  line-height: 1.2;
  white-space: nowrap;

  --right: 0;
  --top: 0;

  &-fixed {
    position: absolute;
    right: var(--right);
    top: var(--top);
    transform: translate(50%, -50%);
  }

  &-dot {
    min-width: var(--tfc-20);
    width: var(--tfc-20);
    height: var(--tfc-20);
    border-radius: var(--tfc-10);
  }
}
