page {
  --tfc-px-1: 1px;
  --tfc-px-2: 2px;
  --tfc-px-4: 4px;
  --tfc-px-6: 6px;
  --tfc-px-8: 8px;
  --tfc-px-9: 9px;
  --tfc-px-10: 10px;
  --tfc-px-12: 12px;
  --tfc-px-14: 14px;
  --tfc-px-16: 16px;
  --tfc-px-18: 18px;
  --tfc-px-22: 22px;
  --tfc-px-24: 24px;
  --tfc-px-28: 28px;
  --tfc-px-30: 30px;
  --tfc-px-32: 32px;
  --tfc-px-34: 34px;
  --tfc-px-36: 36px;
  --tfc-px-38: 38px;
  --tfc-px-40: 40px;
  --tfc-px-42: 42px;
  --tfc-px-44: 44px;
  --tfc-px-45: 45px;
  --tfc-px-48: 48px;
  --tfc-px-50: 50px;
  --tfc-px-52: 52px;
  --tfc-px-60: 60px;
  --tfc-px-64: 64px;
  --tfc-px-80: 80px;
  --tfc-px-88: 88px;
  --tfc-px-100: 100px;
  --tfc-px-140: 140px;
  --tfc-px-200: 200px;
  --tfc-px-400: 400px;
  --tfc-px-1050: 1050px;
  --tfc-color-primary: #1677ff;
  --tfc-color-success: #00b578;
  --tfc-color-warning: #ff8f1f;
  --tfc-color-danger: #ff3141;
  --tfc-color-white: #fff;
  --tfc-color-weak: #999;
  --tfc-color-light: #ccc;
  --tfc-border-color: #eee;
  --tfc-font-size-main: 13px;
  --tfc-color-text: #333;
  --tfc-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}

:root {
  --tfc-color-primary: #1677ff;
  --tfc-color-success: #00b578;
  --tfc-color-warning: #ff8f1f;
  --tfc-color-danger: #ff3141;
  --tfc-color-white: #fff;
  --tfc-color-weak: #999;
  --tfc-color-light: #ccc;
  --tfc-border-color: #eee;
  --tfc-font-size-main: 13px;
  --tfc-color-text: #333;
  --tfc-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}

.tfc-frozen {
  position: fixed;
  width: 100%;
}
