.tfc-card {
  --prefix-width: 'auto';
  --align-items: center;
  --active-background-color: var(--tfc-border-color);
  --border-radius: var(--tfc-16);
  --border-card: solid var(--tfc-2) var(--tfc-border-color);
  --border-top: solid var(--tfc-2) var(--tfc-border-color);
  --border-bottom: solid var(--tfc-2) var(--tfc-border-color);
  --padding-left: var(--tfc-24);
  --strip-width: var(--tfc-8);
  --strip-height: var(--tfc-36);
  --strip-color: #ccc;
  --strip-border-radius: var(--tfc-6);

  background-color: #fff;
  overflow: hidden;
  font-size: var(--tfc-34);

  &-header {
    color: var(--tfc-color-weak);
    font-size: var(--tfc-30);
    padding: var(--tfc-16) var(--tfc-18);
    position: relative;

    &__strip {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: var(--strip-width);
      height: var(--strip-height);
      background-color: var(--strip-color);
      border-radius: var(--strip-border-radius);
    }
  }

  &-body {
    background-color: #fff;
    overflow: hidden;
    border-top: var(--border-top);

    &-inner {
      margin-bottom: calc(var(--tfc-2) * -1);
      margin-bottom: calc(var(--title-font-size) * -1);
      font-size: var(--tfc-28);
    }
  }

  &-body-space {
    padding: var(--tfc-20);
  }

  &-footer {
    background-color: #fff;
    border-top: var(--border-bottom);
    color: var(--tfc-color-weak);
    font-size: var(--tfc-28);
    padding: var(--tfc-16) var(--tfc-24);
  }

  &-through {
    border-top: var(--border-top);
    border-bottom: var(--border-bottom);
  }

  &-card {
    margin: var(--tfc-24);
    border-radius: var(--border-radius);
    border: var(--border-card);
  }
}
