page,
:root {
  --tfc-1: 1px;
  --tfc-2: 2px;
  --tfc-3: 3px;
  --tfc-4: 4px;
  --tfc-5: 5px;
  --tfc-6: 6px;
  --tfc-7: 7px;
  --tfc-8: 8px;
  --tfc-9: 9px;
  --tfc-10: 10px;
  --tfc-11: 11px;
  --tfc-12: 12px;
  --tfc-13: 13px;
  --tfc-14: 14px;
  --tfc-15: 15px;
  --tfc-16: 16px;
  --tfc-17: 17px;
  --tfc-18: 18px;
  --tfc-19: 19px;
  --tfc-20: 20px;
  --tfc-21: 21px;
  --tfc-22: 22px;
  --tfc-23: 23px;
  --tfc-24: 24px;
  --tfc-25: 25px;
  --tfc-26: 26px;
  --tfc-27: 27px;
  --tfc-28: 28px;
  --tfc-29: 29px;
  --tfc-30: 30px;
  --tfc-31: 31px;
  --tfc-32: 32px;
  --tfc-33: 33px;
  --tfc-34: 34px;
  --tfc-35: 35px;
  --tfc-36: 36px;
  --tfc-37: 37px;
  --tfc-38: 38px;
  --tfc-39: 39px;
  --tfc-40: 40px;
  --tfc-41: 41px;
  --tfc-42: 42px;
  --tfc-43: 43px;
  --tfc-44: 44px;
  --tfc-45: 45px;
  --tfc-46: 46px;
  --tfc-47: 47px;
  --tfc-48: 48px;
  --tfc-49: 49px;
  --tfc-50: 50px;
  --tfc-51: 51px;
  --tfc-52: 52px;
  --tfc-53: 53px;
  --tfc-54: 54px;
  --tfc-55: 55px;
  --tfc-56: 56px;
  --tfc-57: 57px;
  --tfc-58: 58px;
  --tfc-59: 59px;
  --tfc-60: 60px;
  --tfc-61: 61px;
  --tfc-62: 62px;
  --tfc-63: 63px;
  --tfc-64: 64px;
  --tfc-65: 65px;
  --tfc-66: 66px;
  --tfc-67: 67px;
  --tfc-68: 68px;
  --tfc-69: 69px;
  --tfc-70: 70px;
  --tfc-71: 71px;
  --tfc-72: 72px;
  --tfc-73: 73px;
  --tfc-74: 74px;
  --tfc-75: 75px;
  --tfc-76: 76px;
  --tfc-77: 77px;
  --tfc-78: 78px;
  --tfc-79: 79px;
  --tfc-80: 80px;
  --tfc-81: 81px;
  --tfc-82: 82px;
  --tfc-83: 83px;
  --tfc-84: 84px;
  --tfc-85: 85px;
  --tfc-86: 86px;
  --tfc-87: 87px;
  --tfc-88: 88px;
  --tfc-89: 89px;
  --tfc-90: 90px;
  --tfc-91: 91px;
  --tfc-92: 92px;
  --tfc-93: 93px;
  --tfc-94: 94px;
  --tfc-95: 95px;
  --tfc-96: 96px;
  --tfc-97: 97px;
  --tfc-98: 98px;
  --tfc-99: 99px;
  --tfc-100: 100px;
  --tfc-101: 101px;
  --tfc-102: 102px;
  --tfc-103: 103px;
  --tfc-104: 104px;
  --tfc-105: 105px;
  --tfc-106: 106px;
  --tfc-107: 107px;
  --tfc-108: 108px;
  --tfc-109: 109px;
  --tfc-110: 110px;
  --tfc-111: 111px;
  --tfc-112: 112px;
  --tfc-113: 113px;
  --tfc-114: 114px;
  --tfc-115: 115px;
  --tfc-116: 116px;
  --tfc-117: 117px;
  --tfc-118: 118px;
  --tfc-119: 119px;
  --tfc-120: 120px;
  --tfc-121: 121px;
  --tfc-122: 122px;
  --tfc-123: 123px;
  --tfc-124: 124px;
  --tfc-125: 125px;
  --tfc-126: 126px;
  --tfc-127: 127px;
  --tfc-128: 128px;
  --tfc-129: 129px;
  --tfc-130: 130px;
  --tfc-131: 131px;
  --tfc-132: 132px;
  --tfc-133: 133px;
  --tfc-134: 134px;
  --tfc-135: 135px;
  --tfc-136: 136px;
  --tfc-137: 137px;
  --tfc-138: 138px;
  --tfc-139: 139px;
  --tfc-140: 140px;
  --tfc-141: 141px;
  --tfc-142: 142px;
  --tfc-143: 143px;
  --tfc-144: 144px;
  --tfc-145: 145px;
  --tfc-146: 146px;
  --tfc-147: 147px;
  --tfc-148: 148px;
  --tfc-149: 149px;
  --tfc-150: 150px;
  --tfc-151: 151px;
  --tfc-152: 152px;
  --tfc-153: 153px;
  --tfc-154: 154px;
  --tfc-155: 155px;
  --tfc-156: 156px;
  --tfc-157: 157px;
  --tfc-158: 158px;
  --tfc-159: 159px;
  --tfc-160: 160px;
  --tfc-161: 161px;
  --tfc-162: 162px;
  --tfc-163: 163px;
  --tfc-164: 164px;
  --tfc-165: 165px;
  --tfc-166: 166px;
  --tfc-167: 167px;
  --tfc-168: 168px;
  --tfc-169: 169px;
  --tfc-170: 170px;
  --tfc-171: 171px;
  --tfc-172: 172px;
  --tfc-173: 173px;
  --tfc-174: 174px;
  --tfc-175: 175px;
  --tfc-176: 176px;
  --tfc-177: 177px;
  --tfc-178: 178px;
  --tfc-179: 179px;
  --tfc-180: 180px;
  --tfc-181: 181px;
  --tfc-182: 182px;
  --tfc-183: 183px;
  --tfc-184: 184px;
  --tfc-185: 185px;
  --tfc-186: 186px;
  --tfc-187: 187px;
  --tfc-188: 188px;
  --tfc-189: 189px;
  --tfc-190: 190px;
  --tfc-191: 191px;
  --tfc-192: 192px;
  --tfc-193: 193px;
  --tfc-194: 194px;
  --tfc-195: 195px;
  --tfc-196: 196px;
  --tfc-197: 197px;
  --tfc-198: 198px;
  --tfc-199: 199px;
  --tfc-200: 200px;
  --tfc-210: 210px;
  --tfc-220: 220px;
  --tfc-230: 230px;
  --tfc-240: 240px;
  --tfc-250: 250px;
  --tfc-260: 260px;
  --tfc-270: 270px;
  --tfc-280: 280px;
  --tfc-290: 290px;
  --tfc-300: 300px;
  --tfc-310: 310px;
  --tfc-320: 320px;
  --tfc-330: 330px;
  --tfc-340: 340px;
  --tfc-350: 350px;
  --tfc-360: 360px;
  --tfc-370: 370px;
  --tfc-380: 380px;
  --tfc-390: 390px;
  --tfc-400: 400px;
  --tfc-410: 410px;
  --tfc-420: 420px;
  --tfc-430: 430px;
  --tfc-440: 440px;
  --tfc-450: 450px;
  --tfc-460: 460px;
  --tfc-470: 470px;
  --tfc-480: 480px;
  --tfc-490: 490px;
  --tfc-500: 500px;
  --tfc-550: 550px;
  --tfc-600: 600px;
  --tfc-650: 650px;
  --tfc-700: 700px;
  --tfc-750: 750px;
  --tfc-800: 800px;
  --tfc-850: 850px;
  --tfc-900: 900px;
  --tfc-950: 950px;
  --tfc-1000: 1000px;
  --tfc-1050: 1050px;
  --tfc-1100: 1100px;
  --tfc-1150: 1150px;
  --tfc-1200: 1200px;
  --tfc-1250: 1250px;
  --tfc-1300: 1300px;
  --tfc-1350: 1350px;
  --tfc-1400: 1400px;
  --tfc-1450: 1450px;
  --tfc-1500: 1500px;
  --tfc-1550: 1550px;
  --tfc-1600: 1600px;
  --tfc-1650: 1650px;
  --tfc-1700: 1700px;
  --tfc-1750: 1750px;
  --tfc-1800: 1800px;
  --tfc-1850: 1850px;
  --tfc-1900: 1900px;
  --tfc-1950: 1950px;
  --tfc-2000: 2000px;
  --tfc-color-primary: #1677ff;
  --tfc-color-success: #00b578;
  --tfc-color-warning: #ff8f1f;
  --tfc-color-danger: #ff3141;
  --tfc-color-white: #fff;
  --tfc-color-weak: #999;
  --tfc-color-light: #ccc;
  --tfc-border-color: #eee;
  --tfc-font-size-main: var(--tfc-13);
  --tfc-color-text: #333;
  --tfc-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
