page,
:root {
  --tfc-0: 0;
  --tfc-1: 1px;
  --tfc-2: 2px;
  --tfc-3: 3px;
  --tfc-4: 4px;
  --tfc-5: 5px;
  --tfc-6: 6px;
  --tfc-7: 7px;
  --tfc-8: 8px;
  --tfc-9: 9px;
  --tfc-10: 10px;
  --tfc-11: 11px;
  --tfc-12: 12px;
  --tfc-13: 13px;
  --tfc-14: 14px;
  --tfc-15: 15px;
  --tfc-16: 16px;
  --tfc-17: 17px;
  --tfc-18: 18px;
  --tfc-19: 19px;
  --tfc-20: 20px;
  --tfc-21: 21px;
  --tfc-22: 22px;
  --tfc-23: 23px;
  --tfc-24: 24px;
  --tfc-25: 25px;
  --tfc-26: 26px;
  --tfc-27: 27px;
  --tfc-28: 28px;
  --tfc-29: 29px;
  --tfc-30: 30px;
  --tfc-31: 31px;
  --tfc-32: 32px;
  --tfc-33: 33px;
  --tfc-34: 34px;
  --tfc-35: 35px;
  --tfc-36: 36px;
  --tfc-37: 37px;
  --tfc-38: 38px;
  --tfc-39: 39px;
  --tfc-40: 40px;
  --tfc-41: 41px;
  --tfc-42: 42px;
  --tfc-43: 43px;
  --tfc-44: 44px;
  --tfc-45: 45px;
  --tfc-46: 46px;
  --tfc-47: 47px;
  --tfc-48: 48px;
  --tfc-49: 49px;
  --tfc-50: 50px;
  --tfc-51: 51px;
  --tfc-52: 52px;
  --tfc-53: 53px;
  --tfc-54: 54px;
  --tfc-55: 55px;
  --tfc-56: 56px;
  --tfc-57: 57px;
  --tfc-58: 58px;
  --tfc-59: 59px;
  --tfc-60: 60px;
  --tfc-61: 61px;
  --tfc-62: 62px;
  --tfc-63: 63px;
  --tfc-64: 64px;
  --tfc-65: 65px;
  --tfc-66: 66px;
  --tfc-67: 67px;
  --tfc-68: 68px;
  --tfc-69: 69px;
  --tfc-70: 70px;
  --tfc-71: 71px;
  --tfc-72: 72px;
  --tfc-73: 73px;
  --tfc-74: 74px;
  --tfc-75: 75px;
  --tfc-76: 76px;
  --tfc-77: 77px;
  --tfc-78: 78px;
  --tfc-79: 79px;
  --tfc-80: 80px;
  --tfc-81: 81px;
  --tfc-82: 82px;
  --tfc-83: 83px;
  --tfc-84: 84px;
  --tfc-85: 85px;
  --tfc-86: 86px;
  --tfc-87: 87px;
  --tfc-88: 88px;
  --tfc-89: 89px;
  --tfc-90: 90px;
  --tfc-91: 91px;
  --tfc-92: 92px;
  --tfc-93: 93px;
  --tfc-94: 94px;
  --tfc-95: 95px;
  --tfc-96: 96px;
  --tfc-97: 97px;
  --tfc-98: 98px;
  --tfc-99: 99px;
  --tfc-100: 100px;
  --tfc-101: 101px;
  --tfc-102: 102px;
  --tfc-103: 103px;
  --tfc-104: 104px;
  --tfc-105: 105px;
  --tfc-106: 106px;
  --tfc-107: 107px;
  --tfc-108: 108px;
  --tfc-109: 109px;
  --tfc-110: 110px;
  --tfc-111: 111px;
  --tfc-112: 112px;
  --tfc-113: 113px;
  --tfc-114: 114px;
  --tfc-115: 115px;
  --tfc-116: 116px;
  --tfc-117: 117px;
  --tfc-118: 118px;
  --tfc-119: 119px;
  --tfc-120: 120px;
  --tfc-121: 121px;
  --tfc-122: 122px;
  --tfc-123: 123px;
  --tfc-124: 124px;
  --tfc-125: 125px;
  --tfc-126: 126px;
  --tfc-127: 127px;
  --tfc-128: 128px;
  --tfc-129: 129px;
  --tfc-130: 130px;
  --tfc-131: 131px;
  --tfc-132: 132px;
  --tfc-133: 133px;
  --tfc-134: 134px;
  --tfc-135: 135px;
  --tfc-136: 136px;
  --tfc-137: 137px;
  --tfc-138: 138px;
  --tfc-139: 139px;
  --tfc-140: 140px;
  --tfc-141: 141px;
  --tfc-142: 142px;
  --tfc-143: 143px;
  --tfc-144: 144px;
  --tfc-145: 145px;
  --tfc-146: 146px;
  --tfc-147: 147px;
  --tfc-148: 148px;
  --tfc-149: 149px;
  --tfc-150: 150px;
  --tfc-151: 151px;
  --tfc-152: 152px;
  --tfc-153: 153px;
  --tfc-154: 154px;
  --tfc-155: 155px;
  --tfc-156: 156px;
  --tfc-157: 157px;
  --tfc-158: 158px;
  --tfc-159: 159px;
  --tfc-160: 160px;
  --tfc-161: 161px;
  --tfc-162: 162px;
  --tfc-163: 163px;
  --tfc-164: 164px;
  --tfc-165: 165px;
  --tfc-166: 166px;
  --tfc-167: 167px;
  --tfc-168: 168px;
  --tfc-169: 169px;
  --tfc-170: 170px;
  --tfc-171: 171px;
  --tfc-172: 172px;
  --tfc-173: 173px;
  --tfc-174: 174px;
  --tfc-175: 175px;
  --tfc-176: 176px;
  --tfc-177: 177px;
  --tfc-178: 178px;
  --tfc-179: 179px;
  --tfc-180: 180px;
  --tfc-181: 181px;
  --tfc-182: 182px;
  --tfc-183: 183px;
  --tfc-184: 184px;
  --tfc-185: 185px;
  --tfc-186: 186px;
  --tfc-187: 187px;
  --tfc-188: 188px;
  --tfc-189: 189px;
  --tfc-190: 190px;
  --tfc-191: 191px;
  --tfc-192: 192px;
  --tfc-193: 193px;
  --tfc-194: 194px;
  --tfc-195: 195px;
  --tfc-196: 196px;
  --tfc-197: 197px;
  --tfc-198: 198px;
  --tfc-199: 199px;
  --tfc-200: 200px;
  --tfc-201: 201px;
  --tfc-202: 202px;
  --tfc-203: 203px;
  --tfc-204: 204px;
  --tfc-205: 205px;
  --tfc-206: 206px;
  --tfc-207: 207px;
  --tfc-208: 208px;
  --tfc-209: 209px;
  --tfc-210: 210px;
  --tfc-211: 211px;
  --tfc-212: 212px;
  --tfc-213: 213px;
  --tfc-214: 214px;
  --tfc-215: 215px;
  --tfc-216: 216px;
  --tfc-217: 217px;
  --tfc-218: 218px;
  --tfc-219: 219px;
  --tfc-220: 220px;
  --tfc-221: 221px;
  --tfc-222: 222px;
  --tfc-223: 223px;
  --tfc-224: 224px;
  --tfc-225: 225px;
  --tfc-226: 226px;
  --tfc-227: 227px;
  --tfc-228: 228px;
  --tfc-229: 229px;
  --tfc-230: 230px;
  --tfc-231: 231px;
  --tfc-232: 232px;
  --tfc-233: 233px;
  --tfc-234: 234px;
  --tfc-235: 235px;
  --tfc-236: 236px;
  --tfc-237: 237px;
  --tfc-238: 238px;
  --tfc-239: 239px;
  --tfc-240: 240px;
  --tfc-241: 241px;
  --tfc-242: 242px;
  --tfc-243: 243px;
  --tfc-244: 244px;
  --tfc-245: 245px;
  --tfc-246: 246px;
  --tfc-247: 247px;
  --tfc-248: 248px;
  --tfc-249: 249px;
  --tfc-250: 250px;
  --tfc-251: 251px;
  --tfc-252: 252px;
  --tfc-253: 253px;
  --tfc-254: 254px;
  --tfc-255: 255px;
  --tfc-256: 256px;
  --tfc-257: 257px;
  --tfc-258: 258px;
  --tfc-259: 259px;
  --tfc-260: 260px;
  --tfc-261: 261px;
  --tfc-262: 262px;
  --tfc-263: 263px;
  --tfc-264: 264px;
  --tfc-265: 265px;
  --tfc-266: 266px;
  --tfc-267: 267px;
  --tfc-268: 268px;
  --tfc-269: 269px;
  --tfc-270: 270px;
  --tfc-271: 271px;
  --tfc-272: 272px;
  --tfc-273: 273px;
  --tfc-274: 274px;
  --tfc-275: 275px;
  --tfc-276: 276px;
  --tfc-277: 277px;
  --tfc-278: 278px;
  --tfc-279: 279px;
  --tfc-280: 280px;
  --tfc-281: 281px;
  --tfc-282: 282px;
  --tfc-283: 283px;
  --tfc-284: 284px;
  --tfc-285: 285px;
  --tfc-286: 286px;
  --tfc-287: 287px;
  --tfc-288: 288px;
  --tfc-289: 289px;
  --tfc-290: 290px;
  --tfc-291: 291px;
  --tfc-292: 292px;
  --tfc-293: 293px;
  --tfc-294: 294px;
  --tfc-295: 295px;
  --tfc-296: 296px;
  --tfc-297: 297px;
  --tfc-298: 298px;
  --tfc-299: 299px;
  --tfc-300: 300px;
  --tfc-301: 301px;
  --tfc-302: 302px;
  --tfc-303: 303px;
  --tfc-304: 304px;
  --tfc-305: 305px;
  --tfc-306: 306px;
  --tfc-307: 307px;
  --tfc-308: 308px;
  --tfc-309: 309px;
  --tfc-310: 310px;
  --tfc-311: 311px;
  --tfc-312: 312px;
  --tfc-313: 313px;
  --tfc-314: 314px;
  --tfc-315: 315px;
  --tfc-316: 316px;
  --tfc-317: 317px;
  --tfc-318: 318px;
  --tfc-319: 319px;
  --tfc-320: 320px;
  --tfc-321: 321px;
  --tfc-322: 322px;
  --tfc-323: 323px;
  --tfc-324: 324px;
  --tfc-325: 325px;
  --tfc-326: 326px;
  --tfc-327: 327px;
  --tfc-328: 328px;
  --tfc-329: 329px;
  --tfc-330: 330px;
  --tfc-331: 331px;
  --tfc-332: 332px;
  --tfc-333: 333px;
  --tfc-334: 334px;
  --tfc-335: 335px;
  --tfc-336: 336px;
  --tfc-337: 337px;
  --tfc-338: 338px;
  --tfc-339: 339px;
  --tfc-340: 340px;
  --tfc-341: 341px;
  --tfc-342: 342px;
  --tfc-343: 343px;
  --tfc-344: 344px;
  --tfc-345: 345px;
  --tfc-346: 346px;
  --tfc-347: 347px;
  --tfc-348: 348px;
  --tfc-349: 349px;
  --tfc-350: 350px;
  --tfc-351: 351px;
  --tfc-352: 352px;
  --tfc-353: 353px;
  --tfc-354: 354px;
  --tfc-355: 355px;
  --tfc-356: 356px;
  --tfc-357: 357px;
  --tfc-358: 358px;
  --tfc-359: 359px;
  --tfc-360: 360px;
  --tfc-361: 361px;
  --tfc-362: 362px;
  --tfc-363: 363px;
  --tfc-364: 364px;
  --tfc-365: 365px;
  --tfc-366: 366px;
  --tfc-367: 367px;
  --tfc-368: 368px;
  --tfc-369: 369px;
  --tfc-370: 370px;
  --tfc-371: 371px;
  --tfc-372: 372px;
  --tfc-373: 373px;
  --tfc-374: 374px;
  --tfc-375: 375px;
  --tfc-376: 376px;
  --tfc-377: 377px;
  --tfc-378: 378px;
  --tfc-379: 379px;
  --tfc-380: 380px;
  --tfc-381: 381px;
  --tfc-382: 382px;
  --tfc-383: 383px;
  --tfc-384: 384px;
  --tfc-385: 385px;
  --tfc-386: 386px;
  --tfc-387: 387px;
  --tfc-388: 388px;
  --tfc-389: 389px;
  --tfc-390: 390px;
  --tfc-391: 391px;
  --tfc-392: 392px;
  --tfc-393: 393px;
  --tfc-394: 394px;
  --tfc-395: 395px;
  --tfc-396: 396px;
  --tfc-397: 397px;
  --tfc-398: 398px;
  --tfc-399: 399px;
  --tfc-400: 400px;
  --tfc-401: 401px;
  --tfc-402: 402px;
  --tfc-403: 403px;
  --tfc-404: 404px;
  --tfc-405: 405px;
  --tfc-406: 406px;
  --tfc-407: 407px;
  --tfc-408: 408px;
  --tfc-409: 409px;
  --tfc-410: 410px;
  --tfc-411: 411px;
  --tfc-412: 412px;
  --tfc-413: 413px;
  --tfc-414: 414px;
  --tfc-415: 415px;
  --tfc-416: 416px;
  --tfc-417: 417px;
  --tfc-418: 418px;
  --tfc-419: 419px;
  --tfc-420: 420px;
  --tfc-421: 421px;
  --tfc-422: 422px;
  --tfc-423: 423px;
  --tfc-424: 424px;
  --tfc-425: 425px;
  --tfc-426: 426px;
  --tfc-427: 427px;
  --tfc-428: 428px;
  --tfc-429: 429px;
  --tfc-430: 430px;
  --tfc-431: 431px;
  --tfc-432: 432px;
  --tfc-433: 433px;
  --tfc-434: 434px;
  --tfc-435: 435px;
  --tfc-436: 436px;
  --tfc-437: 437px;
  --tfc-438: 438px;
  --tfc-439: 439px;
  --tfc-440: 440px;
  --tfc-441: 441px;
  --tfc-442: 442px;
  --tfc-443: 443px;
  --tfc-444: 444px;
  --tfc-445: 445px;
  --tfc-446: 446px;
  --tfc-447: 447px;
  --tfc-448: 448px;
  --tfc-449: 449px;
  --tfc-450: 450px;
  --tfc-451: 451px;
  --tfc-452: 452px;
  --tfc-453: 453px;
  --tfc-454: 454px;
  --tfc-455: 455px;
  --tfc-456: 456px;
  --tfc-457: 457px;
  --tfc-458: 458px;
  --tfc-459: 459px;
  --tfc-460: 460px;
  --tfc-461: 461px;
  --tfc-462: 462px;
  --tfc-463: 463px;
  --tfc-464: 464px;
  --tfc-465: 465px;
  --tfc-466: 466px;
  --tfc-467: 467px;
  --tfc-468: 468px;
  --tfc-469: 469px;
  --tfc-470: 470px;
  --tfc-471: 471px;
  --tfc-472: 472px;
  --tfc-473: 473px;
  --tfc-474: 474px;
  --tfc-475: 475px;
  --tfc-476: 476px;
  --tfc-477: 477px;
  --tfc-478: 478px;
  --tfc-479: 479px;
  --tfc-480: 480px;
  --tfc-481: 481px;
  --tfc-482: 482px;
  --tfc-483: 483px;
  --tfc-484: 484px;
  --tfc-485: 485px;
  --tfc-486: 486px;
  --tfc-487: 487px;
  --tfc-488: 488px;
  --tfc-489: 489px;
  --tfc-490: 490px;
  --tfc-491: 491px;
  --tfc-492: 492px;
  --tfc-493: 493px;
  --tfc-494: 494px;
  --tfc-495: 495px;
  --tfc-496: 496px;
  --tfc-497: 497px;
  --tfc-498: 498px;
  --tfc-499: 499px;
  --tfc-500: 500px;
  --tfc-501: 501px;
  --tfc-502: 502px;
  --tfc-503: 503px;
  --tfc-504: 504px;
  --tfc-505: 505px;
  --tfc-506: 506px;
  --tfc-507: 507px;
  --tfc-508: 508px;
  --tfc-509: 509px;
  --tfc-510: 510px;
  --tfc-511: 511px;
  --tfc-512: 512px;
  --tfc-513: 513px;
  --tfc-514: 514px;
  --tfc-515: 515px;
  --tfc-516: 516px;
  --tfc-517: 517px;
  --tfc-518: 518px;
  --tfc-519: 519px;
  --tfc-520: 520px;
  --tfc-521: 521px;
  --tfc-522: 522px;
  --tfc-523: 523px;
  --tfc-524: 524px;
  --tfc-525: 525px;
  --tfc-526: 526px;
  --tfc-527: 527px;
  --tfc-528: 528px;
  --tfc-529: 529px;
  --tfc-530: 530px;
  --tfc-531: 531px;
  --tfc-532: 532px;
  --tfc-533: 533px;
  --tfc-534: 534px;
  --tfc-535: 535px;
  --tfc-536: 536px;
  --tfc-537: 537px;
  --tfc-538: 538px;
  --tfc-539: 539px;
  --tfc-540: 540px;
  --tfc-541: 541px;
  --tfc-542: 542px;
  --tfc-543: 543px;
  --tfc-544: 544px;
  --tfc-545: 545px;
  --tfc-546: 546px;
  --tfc-547: 547px;
  --tfc-548: 548px;
  --tfc-549: 549px;
  --tfc-550: 550px;
  --tfc-551: 551px;
  --tfc-552: 552px;
  --tfc-553: 553px;
  --tfc-554: 554px;
  --tfc-555: 555px;
  --tfc-556: 556px;
  --tfc-557: 557px;
  --tfc-558: 558px;
  --tfc-559: 559px;
  --tfc-560: 560px;
  --tfc-561: 561px;
  --tfc-562: 562px;
  --tfc-563: 563px;
  --tfc-564: 564px;
  --tfc-565: 565px;
  --tfc-566: 566px;
  --tfc-567: 567px;
  --tfc-568: 568px;
  --tfc-569: 569px;
  --tfc-570: 570px;
  --tfc-571: 571px;
  --tfc-572: 572px;
  --tfc-573: 573px;
  --tfc-574: 574px;
  --tfc-575: 575px;
  --tfc-576: 576px;
  --tfc-577: 577px;
  --tfc-578: 578px;
  --tfc-579: 579px;
  --tfc-580: 580px;
  --tfc-581: 581px;
  --tfc-582: 582px;
  --tfc-583: 583px;
  --tfc-584: 584px;
  --tfc-585: 585px;
  --tfc-586: 586px;
  --tfc-587: 587px;
  --tfc-588: 588px;
  --tfc-589: 589px;
  --tfc-590: 590px;
  --tfc-591: 591px;
  --tfc-592: 592px;
  --tfc-593: 593px;
  --tfc-594: 594px;
  --tfc-595: 595px;
  --tfc-596: 596px;
  --tfc-597: 597px;
  --tfc-598: 598px;
  --tfc-599: 599px;
  --tfc-600: 600px;
  --tfc-601: 601px;
  --tfc-602: 602px;
  --tfc-603: 603px;
  --tfc-604: 604px;
  --tfc-605: 605px;
  --tfc-606: 606px;
  --tfc-607: 607px;
  --tfc-608: 608px;
  --tfc-609: 609px;
  --tfc-610: 610px;
  --tfc-611: 611px;
  --tfc-612: 612px;
  --tfc-613: 613px;
  --tfc-614: 614px;
  --tfc-615: 615px;
  --tfc-616: 616px;
  --tfc-617: 617px;
  --tfc-618: 618px;
  --tfc-619: 619px;
  --tfc-620: 620px;
  --tfc-621: 621px;
  --tfc-622: 622px;
  --tfc-623: 623px;
  --tfc-624: 624px;
  --tfc-625: 625px;
  --tfc-626: 626px;
  --tfc-627: 627px;
  --tfc-628: 628px;
  --tfc-629: 629px;
  --tfc-630: 630px;
  --tfc-631: 631px;
  --tfc-632: 632px;
  --tfc-633: 633px;
  --tfc-634: 634px;
  --tfc-635: 635px;
  --tfc-636: 636px;
  --tfc-637: 637px;
  --tfc-638: 638px;
  --tfc-639: 639px;
  --tfc-640: 640px;
  --tfc-641: 641px;
  --tfc-642: 642px;
  --tfc-643: 643px;
  --tfc-644: 644px;
  --tfc-645: 645px;
  --tfc-646: 646px;
  --tfc-647: 647px;
  --tfc-648: 648px;
  --tfc-649: 649px;
  --tfc-650: 650px;
  --tfc-651: 651px;
  --tfc-652: 652px;
  --tfc-653: 653px;
  --tfc-654: 654px;
  --tfc-655: 655px;
  --tfc-656: 656px;
  --tfc-657: 657px;
  --tfc-658: 658px;
  --tfc-659: 659px;
  --tfc-660: 660px;
  --tfc-661: 661px;
  --tfc-662: 662px;
  --tfc-663: 663px;
  --tfc-664: 664px;
  --tfc-665: 665px;
  --tfc-666: 666px;
  --tfc-667: 667px;
  --tfc-668: 668px;
  --tfc-669: 669px;
  --tfc-670: 670px;
  --tfc-671: 671px;
  --tfc-672: 672px;
  --tfc-673: 673px;
  --tfc-674: 674px;
  --tfc-675: 675px;
  --tfc-676: 676px;
  --tfc-677: 677px;
  --tfc-678: 678px;
  --tfc-679: 679px;
  --tfc-680: 680px;
  --tfc-681: 681px;
  --tfc-682: 682px;
  --tfc-683: 683px;
  --tfc-684: 684px;
  --tfc-685: 685px;
  --tfc-686: 686px;
  --tfc-687: 687px;
  --tfc-688: 688px;
  --tfc-689: 689px;
  --tfc-690: 690px;
  --tfc-691: 691px;
  --tfc-692: 692px;
  --tfc-693: 693px;
  --tfc-694: 694px;
  --tfc-695: 695px;
  --tfc-696: 696px;
  --tfc-697: 697px;
  --tfc-698: 698px;
  --tfc-699: 699px;
  --tfc-700: 700px;
  --tfc-701: 701px;
  --tfc-702: 702px;
  --tfc-703: 703px;
  --tfc-704: 704px;
  --tfc-705: 705px;
  --tfc-706: 706px;
  --tfc-707: 707px;
  --tfc-708: 708px;
  --tfc-709: 709px;
  --tfc-710: 710px;
  --tfc-711: 711px;
  --tfc-712: 712px;
  --tfc-713: 713px;
  --tfc-714: 714px;
  --tfc-715: 715px;
  --tfc-716: 716px;
  --tfc-717: 717px;
  --tfc-718: 718px;
  --tfc-719: 719px;
  --tfc-720: 720px;
  --tfc-721: 721px;
  --tfc-722: 722px;
  --tfc-723: 723px;
  --tfc-724: 724px;
  --tfc-725: 725px;
  --tfc-726: 726px;
  --tfc-727: 727px;
  --tfc-728: 728px;
  --tfc-729: 729px;
  --tfc-730: 730px;
  --tfc-731: 731px;
  --tfc-732: 732px;
  --tfc-733: 733px;
  --tfc-734: 734px;
  --tfc-735: 735px;
  --tfc-736: 736px;
  --tfc-737: 737px;
  --tfc-738: 738px;
  --tfc-739: 739px;
  --tfc-740: 740px;
  --tfc-741: 741px;
  --tfc-742: 742px;
  --tfc-743: 743px;
  --tfc-744: 744px;
  --tfc-745: 745px;
  --tfc-746: 746px;
  --tfc-747: 747px;
  --tfc-748: 748px;
  --tfc-749: 749px;
  --tfc-750: 750px;
  --tfc-751: 751px;
  --tfc-752: 752px;
  --tfc-753: 753px;
  --tfc-754: 754px;
  --tfc-755: 755px;
  --tfc-756: 756px;
  --tfc-757: 757px;
  --tfc-758: 758px;
  --tfc-759: 759px;
  --tfc-760: 760px;
  --tfc-761: 761px;
  --tfc-762: 762px;
  --tfc-763: 763px;
  --tfc-764: 764px;
  --tfc-765: 765px;
  --tfc-766: 766px;
  --tfc-767: 767px;
  --tfc-768: 768px;
  --tfc-769: 769px;
  --tfc-770: 770px;
  --tfc-771: 771px;
  --tfc-772: 772px;
  --tfc-773: 773px;
  --tfc-774: 774px;
  --tfc-775: 775px;
  --tfc-776: 776px;
  --tfc-777: 777px;
  --tfc-778: 778px;
  --tfc-779: 779px;
  --tfc-780: 780px;
  --tfc-781: 781px;
  --tfc-782: 782px;
  --tfc-783: 783px;
  --tfc-784: 784px;
  --tfc-785: 785px;
  --tfc-786: 786px;
  --tfc-787: 787px;
  --tfc-788: 788px;
  --tfc-789: 789px;
  --tfc-790: 790px;
  --tfc-791: 791px;
  --tfc-792: 792px;
  --tfc-793: 793px;
  --tfc-794: 794px;
  --tfc-795: 795px;
  --tfc-796: 796px;
  --tfc-797: 797px;
  --tfc-798: 798px;
  --tfc-799: 799px;
  --tfc-800: 800px;
  --tfc-801: 801px;
  --tfc-802: 802px;
  --tfc-803: 803px;
  --tfc-804: 804px;
  --tfc-805: 805px;
  --tfc-806: 806px;
  --tfc-807: 807px;
  --tfc-808: 808px;
  --tfc-809: 809px;
  --tfc-810: 810px;
  --tfc-811: 811px;
  --tfc-812: 812px;
  --tfc-813: 813px;
  --tfc-814: 814px;
  --tfc-815: 815px;
  --tfc-816: 816px;
  --tfc-817: 817px;
  --tfc-818: 818px;
  --tfc-819: 819px;
  --tfc-820: 820px;
  --tfc-821: 821px;
  --tfc-822: 822px;
  --tfc-823: 823px;
  --tfc-824: 824px;
  --tfc-825: 825px;
  --tfc-826: 826px;
  --tfc-827: 827px;
  --tfc-828: 828px;
  --tfc-829: 829px;
  --tfc-830: 830px;
  --tfc-831: 831px;
  --tfc-832: 832px;
  --tfc-833: 833px;
  --tfc-834: 834px;
  --tfc-835: 835px;
  --tfc-836: 836px;
  --tfc-837: 837px;
  --tfc-838: 838px;
  --tfc-839: 839px;
  --tfc-840: 840px;
  --tfc-841: 841px;
  --tfc-842: 842px;
  --tfc-843: 843px;
  --tfc-844: 844px;
  --tfc-845: 845px;
  --tfc-846: 846px;
  --tfc-847: 847px;
  --tfc-848: 848px;
  --tfc-849: 849px;
  --tfc-850: 850px;
  --tfc-851: 851px;
  --tfc-852: 852px;
  --tfc-853: 853px;
  --tfc-854: 854px;
  --tfc-855: 855px;
  --tfc-856: 856px;
  --tfc-857: 857px;
  --tfc-858: 858px;
  --tfc-859: 859px;
  --tfc-860: 860px;
  --tfc-861: 861px;
  --tfc-862: 862px;
  --tfc-863: 863px;
  --tfc-864: 864px;
  --tfc-865: 865px;
  --tfc-866: 866px;
  --tfc-867: 867px;
  --tfc-868: 868px;
  --tfc-869: 869px;
  --tfc-870: 870px;
  --tfc-871: 871px;
  --tfc-872: 872px;
  --tfc-873: 873px;
  --tfc-874: 874px;
  --tfc-875: 875px;
  --tfc-876: 876px;
  --tfc-877: 877px;
  --tfc-878: 878px;
  --tfc-879: 879px;
  --tfc-880: 880px;
  --tfc-881: 881px;
  --tfc-882: 882px;
  --tfc-883: 883px;
  --tfc-884: 884px;
  --tfc-885: 885px;
  --tfc-886: 886px;
  --tfc-887: 887px;
  --tfc-888: 888px;
  --tfc-889: 889px;
  --tfc-890: 890px;
  --tfc-891: 891px;
  --tfc-892: 892px;
  --tfc-893: 893px;
  --tfc-894: 894px;
  --tfc-895: 895px;
  --tfc-896: 896px;
  --tfc-897: 897px;
  --tfc-898: 898px;
  --tfc-899: 899px;
  --tfc-900: 900px;
  --tfc-901: 901px;
  --tfc-902: 902px;
  --tfc-903: 903px;
  --tfc-904: 904px;
  --tfc-905: 905px;
  --tfc-906: 906px;
  --tfc-907: 907px;
  --tfc-908: 908px;
  --tfc-909: 909px;
  --tfc-910: 910px;
  --tfc-911: 911px;
  --tfc-912: 912px;
  --tfc-913: 913px;
  --tfc-914: 914px;
  --tfc-915: 915px;
  --tfc-916: 916px;
  --tfc-917: 917px;
  --tfc-918: 918px;
  --tfc-919: 919px;
  --tfc-920: 920px;
  --tfc-921: 921px;
  --tfc-922: 922px;
  --tfc-923: 923px;
  --tfc-924: 924px;
  --tfc-925: 925px;
  --tfc-926: 926px;
  --tfc-927: 927px;
  --tfc-928: 928px;
  --tfc-929: 929px;
  --tfc-930: 930px;
  --tfc-931: 931px;
  --tfc-932: 932px;
  --tfc-933: 933px;
  --tfc-934: 934px;
  --tfc-935: 935px;
  --tfc-936: 936px;
  --tfc-937: 937px;
  --tfc-938: 938px;
  --tfc-939: 939px;
  --tfc-940: 940px;
  --tfc-941: 941px;
  --tfc-942: 942px;
  --tfc-943: 943px;
  --tfc-944: 944px;
  --tfc-945: 945px;
  --tfc-946: 946px;
  --tfc-947: 947px;
  --tfc-948: 948px;
  --tfc-949: 949px;
  --tfc-950: 950px;
  --tfc-951: 951px;
  --tfc-952: 952px;
  --tfc-953: 953px;
  --tfc-954: 954px;
  --tfc-955: 955px;
  --tfc-956: 956px;
  --tfc-957: 957px;
  --tfc-958: 958px;
  --tfc-959: 959px;
  --tfc-960: 960px;
  --tfc-961: 961px;
  --tfc-962: 962px;
  --tfc-963: 963px;
  --tfc-964: 964px;
  --tfc-965: 965px;
  --tfc-966: 966px;
  --tfc-967: 967px;
  --tfc-968: 968px;
  --tfc-969: 969px;
  --tfc-970: 970px;
  --tfc-971: 971px;
  --tfc-972: 972px;
  --tfc-973: 973px;
  --tfc-974: 974px;
  --tfc-975: 975px;
  --tfc-976: 976px;
  --tfc-977: 977px;
  --tfc-978: 978px;
  --tfc-979: 979px;
  --tfc-980: 980px;
  --tfc-981: 981px;
  --tfc-982: 982px;
  --tfc-983: 983px;
  --tfc-984: 984px;
  --tfc-985: 985px;
  --tfc-986: 986px;
  --tfc-987: 987px;
  --tfc-988: 988px;
  --tfc-989: 989px;
  --tfc-990: 990px;
  --tfc-991: 991px;
  --tfc-992: 992px;
  --tfc-993: 993px;
  --tfc-994: 994px;
  --tfc-995: 995px;
  --tfc-996: 996px;
  --tfc-997: 997px;
  --tfc-998: 998px;
  --tfc-999: 999px;
  --tfc-1000: 1000px;
  --tfc-1010: 1010px;
  --tfc-1020: 1020px;
  --tfc-1030: 1030px;
  --tfc-1040: 1040px;
  --tfc-1050: 1050px;
  --tfc-1060: 1060px;
  --tfc-1070: 1070px;
  --tfc-1080: 1080px;
  --tfc-1090: 1090px;
  --tfc-1100: 1100px;
  --tfc-1110: 1110px;
  --tfc-1120: 1120px;
  --tfc-1130: 1130px;
  --tfc-1140: 1140px;
  --tfc-1150: 1150px;
  --tfc-1160: 1160px;
  --tfc-1170: 1170px;
  --tfc-1180: 1180px;
  --tfc-1190: 1190px;
  --tfc-1200: 1200px;
  --tfc-1210: 1210px;
  --tfc-1220: 1220px;
  --tfc-1230: 1230px;
  --tfc-1240: 1240px;
  --tfc-1250: 1250px;
  --tfc-1260: 1260px;
  --tfc-1270: 1270px;
  --tfc-1280: 1280px;
  --tfc-1290: 1290px;
  --tfc-1300: 1300px;
  --tfc-1310: 1310px;
  --tfc-1320: 1320px;
  --tfc-1330: 1330px;
  --tfc-1340: 1340px;
  --tfc-1350: 1350px;
  --tfc-1360: 1360px;
  --tfc-1370: 1370px;
  --tfc-1380: 1380px;
  --tfc-1390: 1390px;
  --tfc-1400: 1400px;
  --tfc-1410: 1410px;
  --tfc-1420: 1420px;
  --tfc-1430: 1430px;
  --tfc-1440: 1440px;
  --tfc-1450: 1450px;
  --tfc-1460: 1460px;
  --tfc-1470: 1470px;
  --tfc-1480: 1480px;
  --tfc-1490: 1490px;
  --tfc-1500: 1500px;
  --tfc-1510: 1510px;
  --tfc-1520: 1520px;
  --tfc-1530: 1530px;
  --tfc-1540: 1540px;
  --tfc-1550: 1550px;
  --tfc-1560: 1560px;
  --tfc-1570: 1570px;
  --tfc-1580: 1580px;
  --tfc-1590: 1590px;
  --tfc-1600: 1600px;
  --tfc-1610: 1610px;
  --tfc-1620: 1620px;
  --tfc-1630: 1630px;
  --tfc-1640: 1640px;
  --tfc-1650: 1650px;
  --tfc-1660: 1660px;
  --tfc-1670: 1670px;
  --tfc-1680: 1680px;
  --tfc-1690: 1690px;
  --tfc-1700: 1700px;
  --tfc-1710: 1710px;
  --tfc-1720: 1720px;
  --tfc-1730: 1730px;
  --tfc-1740: 1740px;
  --tfc-1750: 1750px;
  --tfc-1760: 1760px;
  --tfc-1770: 1770px;
  --tfc-1780: 1780px;
  --tfc-1790: 1790px;
  --tfc-1800: 1800px;
  --tfc-1810: 1810px;
  --tfc-1820: 1820px;
  --tfc-1830: 1830px;
  --tfc-1840: 1840px;
  --tfc-1850: 1850px;
  --tfc-1860: 1860px;
  --tfc-1870: 1870px;
  --tfc-1880: 1880px;
  --tfc-1890: 1890px;
  --tfc-1900: 1900px;
  --tfc-1910: 1910px;
  --tfc-1920: 1920px;
  --tfc-1930: 1930px;
  --tfc-1940: 1940px;
  --tfc-1950: 1950px;
  --tfc-1960: 1960px;
  --tfc-1970: 1970px;
  --tfc-1980: 1980px;
  --tfc-1990: 1990px;
  --tfc-2000: 2000px;
  // status
  --tfc-color-primary: #1677ff;
  --tfc-color-success: #00b578;
  --tfc-color-warning: #ff8f1f;
  --tfc-color-danger: #ff3141;
  --tfc-color-info: #78a4fa;
  // color
  --tfc-color-weak: #999;
  --tfc-color-light: #ccc;
  --tfc-border-color: #eee;
  // Color UI
  --tfc-color-red: #e54d42;
  --tfc-color-orange: #f37b1d;
  --tfc-color-yellow: #fbbd08;
  --tfc-color-olive: #8dc63f;
  --tfc-color-green: #39b54a;
  --tfc-color-cyan: #1cbbb4;
  --tfc-color-blue: #0081ff;
  --tfc-color-purple: #6739b6;
  --tfc-color-mauve: #9c26b0;
  --tfc-color-pink: #e03997;
  --tfc-color-brown: #a5673f;
  --tfc-color-grey: #8799a3;
  --tfc-color-black: #333;
  --tfc-color-dark-gray: #666;
  --tfc-color-gray: #aaa;
  --tfc-color-ghost-white: #f1f1f1;
  --tfc-color-white: #fff;
  // 浅色
  --tfc-color-red-light: #fadbd9;
  --tfc-color-orange-light: #fde6d2;
  --tfc-color-yellow-light: #fef2ce;
  --tfc-color-olive-light: #e8f4d9;
  --tfc-color-green-light: #d7f0db;
  --tfc-color-cyan-light: #d2f1f0;
  --tfc-color-blue-light: #cce6ff;
  --tfc-color-purple-light: #e1d7f0;
  --tfc-color-mauve-light: #ebd4ef;
  --tfc-color-pink-light: #f9d7ea;
  --tfc-color-brown-light: #ede1d9;
  --tfc-color-grey-light: #e7ebed;
  // 渐变色
  --tfc-color-gradual-red: linear-gradient(45deg, #f43f3b, #ec008c);
  --tfc-color-gradual-orange: linear-gradient(45deg, #ff9700, #ed1c24);
  --tfc-color-gradual-green: linear-gradient(45deg, #39b54a, #8dc63f);
  --tfc-color-gradual-purple: linear-gradient(45deg, #9000ff, #5e00ff);
  --tfc-color-gradual-pink: linear-gradient(45deg, #ec008c, #6739b6);
  --tfc-color-gradual-blue: linear-gradient(45deg, #0081ff, #1cbbb4);
  --tfc-color-gradual-light-yellow: linear-gradient(45deg, #e8e7e7, #eadd68);
  // 阴影透明色
  --tfc-color-red-shadow: rgba(204, 69, 59, 20%);
  --tfc-color-orange-shadow: rgba(217, 109, 26, 20%);
  --tfc-color-yellow-shadow: rgba(224, 170, 7, 20%);
  --tfc-color-olive-shadow: rgba(124, 173, 55, 20%);
  --tfc-color-green-shadow: rgba(48, 156, 63, 20%);
  --tfc-color-cyan-shadow: rgba(28, 187, 180, 20%);
  --tfc-color-blue-shadow: rgba(0, 102, 204, 20%);
  --tfc-color-purple-shadow: rgba(88, 48, 156, 20%);
  --tfc-color-mauve-shadow: rgba(133, 33, 150, 20%);
  --tfc-color-pink-shadow: rgba(199, 50, 134, 20%);
  --tfc-color-brown-shadow: rgba(140, 88, 53, 20%);
  --tfc-color-grey-shadow: rgba(114, 130, 138, 20%);
  --tfc-color-black-shadow: rgba(26, 26, 26, 20%);
  --tfc-color-shadow-size: var(--tfc-12) var(--tfc-12) var(--tfc-16);
  // color-brand
  --tfc-color-brand: #6190e8;
  --tfc-color-brand-light: #78a4f4;
  --tfc-color-brand-dark: #346fc2;
  // color-grey
  --tfc-color-grey-0: #333;
  --tfc-color-grey-1: #666;
  --tfc-color-grey-2: #999;
  --tfc-color-grey-3: #ccc;
  --tfc-color-grey-4: #e5e5e5;
  --tfc-color-grey-5: #f0f0f0;
  --tfc-color-grey-6: #f7f7f7;
  // ease-in
  --tfc-ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --tfc-ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --tfc-ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --tfc-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --tfc-ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --tfc-ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --tfc-ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --tfc-ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  // ease-out
  --tfc-ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --tfc-ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --tfc-ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --tfc-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --tfc-ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --tfc-ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --tfc-ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --tfc-ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  // ease-in-out
  --tfc-ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --tfc-ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --tfc-ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --tfc-ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --tfc-ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --tfc-ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --tfc-ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --tfc-ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  // font
  --tfc-font-size-main: var(--tfc-28);
  --tfc-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;

  ::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
    color: transparent !important;
  }
}

::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  color: transparent !important;
}

@keyframes tfc-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
