# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

# history
**/.history

# production
**/build
**/dist
**/es

# idea
**/.idea

# temp
**/.temp

**/package-lock.json

# mock
functions/mock

# cache
.cache/

# docz
.docz/

# gitmodules
.gitmodules

# coverage
**/coverage

# lock
/yarn.lock
/package-lock.json
/pnpm-lock.yaml
**/yarn.lock
**/package-lock.json
**/pnpm-lock.yaml

# log
*.log

# umi
.umi
.umi-production

# screenshot
screenshot

# firebase
.firebase

# eslintcache
.eslintcache
