@class-prefix-selector: ~'tfc-selector';

.@{class-prefix-selector} {
  --color: var(--tfc-color-text);
  --checked-color: #e7f1ff;

  overflow: hidden;
  font-size: var(--tfc-30);
  line-height: 1.4;

  &-item {
    padding: var(--tfc-16) var(--tfc-32);
    position: relative;
    background-color: #f5f5f5;
    border-radius: var(--tfc-4);
    color: #333;
    opacity: 1;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    vertical-align: top;

    &-description {
      font-size: var(--tfc-6);
      color: var(--tfc-color-weak);
    }

    &-active,
    &-multiple-active {
      color: var(--tfc-color-primary);
      background-color: var(--checked-color);
    }

    .@{class-prefix-selector}-check-mark-wrapper {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-top: solid var(--tfc-16) transparent;
      border-bottom: solid var(--tfc-16) var(--tfc-color-primary);
      border-left: solid var(--tfc-20) transparent;
      border-right: solid var(--tfc-20) var(--tfc-color-primary);

      &-mark {
        position: absolute;
        left: calc(var(--tfc-4) * -1);
        top: calc(var(--tfc-8) * -1);
        height: var(--tfc-12);
        width: var(--tfc-16);
      }
    }

    &-disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}
