@class-prefix-selector: ~'tfc-selector';

.@{class-prefix-selector} {
  --color: var(--tfc-color-black);
  --checked-color: #e7f1ff;

  overflow: hidden;
  line-height: 1.4;

  &-item {
    position: relative;
    background-color: #f5f5f5;
    color: #333;
    opacity: 1;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    vertical-align: top;

    &-description {
      color: var(--tfc-color-weak);
    }

    &-active,
    &-multiple-active {
      color: var(--tfc-color-primary);
      background-color: var(--checked-color);
    }

    .@{class-prefix-selector}-check-mark-wrapper {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;

      &-mark {
        position: absolute;
      }
    }

    &-disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}
