.tfc-item {
  display: block;
  padding-left: var(--padding-left);
  &-title,
  &-description {
    color: var(--tfc-color-weak);
    font-size: 30rpx;
  }
  &-content {
    display: flex;
    align-items: var(--align-items);
    justify-content: flex-start;
    padding: 24rpx 24rpx 24rpx 0;
    border-bottom: var(--border-inner);
    &-prefix {
      width: var(--prefix-width);
      flex: none;
      padding-right: 24rpx;
    }
    &-main {
      flex: auto;
    }
    &-extra {
      flex: none;
      padding-left: 24rpx;
    }
    &-arrow {
      flex: none;
      display: flex;
      align-items: center;
      padding-left: 24rpx;
      color: var(--tfc-color-weak);
      font-size: 32rpx;
    }
  }

  &-clickable:active {
    background-color: var(--active-background-color);
  }

  &-disabled {
    && > .tfc-item-content > .tfc-item-content-prefix,
    .tfc-item-content-main,
    .tfc-item-content-extra,
    .tfc-item-content-arrow {
      cursor: not-allowed;
      opacity: 0.6;
      pointer-events: none;
    }
  }
}
