@class-prefix-item: ~'tfc-item';

.@{class-prefix-item} {
  &-header {
    display: block;
    padding-left: var(--padding-left);
    padding-right: var(--tfc-24);

    &-title,
    &-description {
      color: var(--tfc-color-weak);
      font-size: var(--tfc-28);
    }

    &-content {
      display: flex;
      align-items: var(--align-items);
      justify-content: flex-start;
      padding: 0;

      &-prefix {
        width: var(--prefix-width);
        flex: none;
        align-self: center;
        padding: var(--tfc-24) var(--tfc-24) var(--tfc-24) 0;
      }

      &-main {
        flex: auto;
        font-size: var(--tfc-30);
        padding: var(--tfc-24) 0;
      }

      &-extra {
        flex: none;
        align-self: center;
        padding: 0 0 0 var(--tfc-24);
      }

      &-arrow {
        flex: none;
        display: flex;
        align-self: center;
        padding: 0 0 0 var(--tfc-24);
        color: var(--tfc-color-weak);
        font-size: var(--tfc-32);
      }
    }

    &-clickable {
      transition: background-color 0.3s;
    }

    &-clickable--hover {
      background-color: var(--active-background-color);
    }

    &-disabled {
      && > .tfc-item-header-content > .tfc-item-header-content-prefix,
      .tfc-item-header-content-main,
      .tfc-item-header-content-extra,
      .tfc-item-header-content-arrow {
        cursor: not-allowed;
        opacity: 0.6;
        pointer-events: none;
      }
    }
  }

  &-body {
    padding: 0 var(--tfc-24) 0 var(--tfc-24);
    overflow: hidden;

    &__animate {
      transition-property: max-height;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
    }

    &__inner {
      &__content {
        padding: var(--tfc-24) 0 var(--tfc-24) 0;
        font-size: var(--tfc-28);
        border-top: var(--border-inner);
        color: var(--tfc-color-weak);
      }
    }
  }

  &__bottom {
    padding: 0 var(--tfc-24) 0 var(--tfc-24);

    &__border {
      height: 0;
      border-bottom: var(--border-inner);
    }
  }
}
