.tfc-avatar {
  overflow: hidden;

  /* elements */
  &__img {
    width: 100%;
    height: 100%;
  }

  /* elements */
  &__text {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &--circle {
    background-clip: border-box;
  }
}
