@class-prefix-cascader: ~'tfc-cascader';

.@{class-prefix-cascader} {
  &__bar {
    &__item {
      display: inline-block;
      background-color: #fff;
      font-size: var(--tfc-28);
      height: var(--tfc-44);
      line-height: var(--tfc-44);
      white-space: nowrap;
      padding: 0 var(--tfc-8);
      text-align: center;
      vertical-align: middle;
    }
  }
}
