@class-prefix-divider: ~'tfc-divider';

.@{class-prefix-divider} {
  --line-color: var(--tfc-border-color);
  --line-width: var(--tfc-2);
  --line-style: solid;

  display: flex;
  align-items: center;
  padding: var(--tfc-32) 0;
  color: var(--tfc-color-weak);
  font-size: var(--tfc-28);
  border-width: 0;
  border-color: var(--line-color);
  border-style: var(--line-style);

  &__left&::before {
    max-width: 10%;
  }

  &__right&::after {
    max-width: 10%;
  }

  &::after,
  &::before {
    flex: auto;
    display: block;
    content: '';
    border-style: inherit;
    border-color: inherit;
    border-width: var(--line-width) 0 0;
  }

  &__content {
    flex: none;
    padding: 0 var(--tfc-32);
  }
}
