@class-prefix-button: ~'tfc-button';

.@{class-prefix-button} {
  --color: var(--tfc-color-white);
  --text-color: var(--tfc-button-text-color, var(--tfc-color-text));
  --background-color: var(
    --tfc-button-background-color,
    var(--tfc-color-white)
  );
  --border-radius: var(--tfc-button-border-radius, var(--tfc-px-8));
  --border-width: var(--tfc-button-border-width, var(--tfc-px-2));
  --border-style: var(--tfc-button-border-style, solid);
  --border-color: var(--tfc-button-border-color, var(--tfc-border-color));

  color: var(--text-color);
  background-color: var(--background-color);
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: auto;
  padding: var(--tfc-px-15) var(--tfc-px-24);
  margin: 0;
  font-size: var(--tfc-px-30);
  line-height: 1.4;
  text-align: center;
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: opacity ease 0.15s;
  user-select: none;

  &:focus {
    outline: none;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-color: #000;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
    box-sizing: content-box;
  }

  &:active::before {
    opacity: 0.08;
  }

  &-default {
    &.@{class-prefix-button}-fill-outline {
      --background-color: transparent;
      --border-color: var(--tfc-color-text);
    }
    &.@{class-prefix-button}-fill-none {
      --background-color: transparent;
      --border-color: transparent;
    }
  }

  &:not(&-default) {
    --text-color: var(--tfc-color-white);
    --background-color: var(--color);
    --border-color: var(--color);
    &.@{class-prefix-button}-fill-outline {
      --text-color: var(--color);
      --background-color: transparent;
    }
    &.@{class-prefix-button}-fill-none {
      --text-color: var(--color);
      --background-color: transparent;
      --border-color: transparent;
    }
  }

  &-primary {
    --color: var(--tfc-color-primary);
  }

  &-success {
    --color: var(--tfc-color-success);
  }

  &-danger {
    --color: var(--tfc-color-danger);
  }

  &-warning {
    --color: var(--tfc-color-warning);
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.4;

    &:active::before {
      display: none;
    }
  }

  &&-mini {
    padding-top: var(--tfc-px-6);
    padding-bottom: var(--tfc-px-6);
    font-size: var(--tfc-px-26);
    &.@{class-prefix-button}-shape-rounded {
      padding-left: var(--tfc-px-18);
      padding-right: var(--tfc-px-18);
    }
  }

  &&-small {
    padding-top: var(--tfc-px-6);
    padding-bottom: var(--tfc-px-6);
    font-size: var(--tfc-px-30);
  }

  &&-large {
    padding-top: var(--tfc-px-22);
    padding-bottom: var(--tfc-px-22);
    font-size: var(--tfc-px-36);
  }

  &&-shape-rounded {
    --border-radius: var(--tfc-px-2000);
  }

  &&-shape-rectangular {
    --border-radius: 0;
  }

  &-loading {
    vertical-align: bottom;
  }

  &-loading-wrapper {
    display: flex;
    height: 1.4em;
    align-items: center;
    justify-content: center;

    > .tfc-loading {
      opacity: 0.6;
    }
  }
}
