@hd: 2;
@font-size-sm: 26rpx;
@color-grey-2: #999;
@color-grey-3: #ccc;
@spacing-v-sm: 6rpx * @hd;
@spacing-h-lg: 6rpx * @hd;
@tfc-notice-bar-text-color: #de8c17;
@tfc-notice-bar-bg-color: #fcf6ed;
@line-height-zh: 1.5;
@tfc-notice-bar-icon-size: 60rpx;
@tfc-notice-bar-font-size: @font-size-sm;
@tfc-notice-bar-btn-close-color: @color-grey-3;
@tfc-notice-bar-btn-close-size: 64rpx;

.tfc-notice-bar {
  position: relative;
  padding: @spacing-v-sm @spacing-h-lg;
  color: @tfc-notice-bar-text-color;
  font-size: 0;
  background: @tfc-notice-bar-bg-color;

  /* elements */
  &__content {
    line-height: @line-height-zh;
    word-break: break-all;
    word-wrap: break-word;

    &-icon {
      display: inline-block;
      margin-right: 24rpx;
      vertical-align: top;
      height: 38rpx;
    }

    &-text {
      display: inline;
      font-size: @tfc-notice-bar-font-size;
    }

    &-inner {
      display: inline;
    }
  }

  &__close {
    margin-right: 24rpx;
    height: 38rpx;
    color: @tfc-notice-bar-btn-close-color;
    line-height: @line-height-zh;
  }

  &__more {
    color: @color-grey-2;
    font-size: 0;

    .text {
      font-size: @tfc-notice-bar-font-size;
      line-height: @line-height-zh;
      vertical-align: middle;
    }

    &-icon {
      display: inline-block;
      width: @tfc-notice-bar-font-size;
      vertical-align: middle;
      overflow: hidden;

      .tfc-icon {
        font-size: @tfc-notice-bar-font-size;
      }
    }
  }

  /* modifiers */
  &--single {
    display: flex;
    justify-content: space-between;

    .tfc-notice-bar__content {
      flex: 1;
      display: flex;
      flex-direction: row;
      overflow: hidden;

      &-text {
        display: flex;
        overflow: hidden;
      }

      &-inner {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &--marquee {
    .tfc-notice-bar__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow: hidden;

      &-text {
        flex: 1;
        overflow: hidden;
      }

      &-inner {
        display: inline-block;
        white-space: nowrap;
        padding-left: 100%;
        height: @tfc-notice-bar-font-size * 1.5;
        animation: marquee 8s linear infinite both;
        transform: translateZ(0);
      }
    }
  }

  &--more {
    .tfc-notice-bar__content {
      max-width: 1050rpx;
    }
  }
}

@keyframes marquee {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
