@class-prefix-step: ~'tfc-step';
@class-prefix-steps: ~'tfc-steps';

.@{class-prefix-step} {
  --line-to-next-color: #e5e5e5;
  --icon-color: #e5e5e5;
  --dot-color: var(--tfc-color-primary);

  .@{class-prefix-step}-indicator {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: 0;
      background-color: var(--line-to-next-color);
    }
    .@{class-prefix-step}-icon-container {
      position: absolute;
      z-index: 1;
      background: var(--tfc-color-white);
      color: var(--icon-color);
    }
  }

  &:last-child {
    .@{class-prefix-step}-indicator::after {
      display: none;
    }
  }

  &-status-finish {
    --line-to-next-color: var(--tfc-color-primary);
    --icon-color: var(--tfc-color-primary);
  }

  &-status-wait {
    --icon-color: #e5e5e5;
  }

  &-status-process {
    --icon-color: var(--tfc-color-primary);

    .@{class-prefix-step}-title {
      color: var(--tfc-color-primary);
    }
  }

  &-status-error {
    --icon-color: var(--tfc-color-danger);
    .@{class-prefix-step}-title {
      color: var(--tfc-color-danger);
    }
  }
}

.@{class-prefix-steps} {
  --title-font-size: var(--tfc-26);
  --description-font-size: var(--tfc-24);
  --indicator-margin-right: 0;
  --icon-size: var(--tfc-18);

  width: 100%;
  box-sizing: border-box;

  &-horizontal {
    display: flex;
    justify-content: space-around;
    padding: var(--tfc-16) 0;

    .@{class-prefix-step} {
      flex: 1;

      .@{class-prefix-step}-indicator {
        width: 100%;
        height: --tfc-24;

        &::after {
          left: 50%;
          top: 50%;
          height: var(--tfc-2);
          transform: translateY(-50%);
          width: 100%;
        }
        .@{class-prefix-step}-icon-container {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .@{class-prefix-step}-content {
      text-align: center;
      font-size: var(--description-font-size);
      padding-top: var(--tfc-22);

      .@{class-prefix-step}-title {
        font-size: var(--title-font-size);
      }

      .@{class-prefix-step}-description {
        margin-top: var(--tfc-8);
        color: var(--tfc-color-weak);
      }
    }
  }

  &-vertical {
    padding: var(--tfc-16) var(--tfc-32);

    .@{class-prefix-step} {
      display: flex;
      align-items: stretch;

      .@{class-prefix-step}-indicator {
        flex: none;
        width: var(--tfc-48);
        margin-right: var(--indicator-margin-right);

        &::after {
          left: 50%;
          top: calc(var(--title-font-size) * 1.5 / 2);
          width: var(--tfc-2);
          transform: translateX(-50%);
          height: 100%;
        }

        .@{class-prefix-step}-icon-container {
          top: calc(var(--title-font-size) * 1.5 / 2);
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &:last-child {
        .@{class-prefix-step}-content {
          padding-bottom: 0;
        }
      }
      .@{class-prefix-step}-content {
        flex: auto;
        padding-bottom: var(--tfc-28);
        .@{class-prefix-step}-title {
          font-size: var(--title-font-size);
          line-height: 1.5;
        }
        .@{class-prefix-step}-description {
          padding-top: var(--tfc-4);
          font-size: var(--description-font-size);
          color: var(--tfc-color-weak);
        }
      }
    }
  }
}

.@{class-prefix-step}-icon-container {
  font-size: var(--icon-size);
}

.@{class-prefix-step}-icon-dot {
  position: relative;
  display: block;
  width: var(--tfc-16);
  height: var(--tfc-16);
  background: var(--dot-color);
  border-radius: var(--tfc-8);
}

.@{class-prefix-step}-icon-dot-processing {
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - var(--tfc-1) * 2);
    height: calc(100% - var(--tfc-1) * 2);
    border: var(--tfc-1) solid var(--dot-color);
    border-radius: 50%;
    animation: tfc-step-icon-dot-processing 1.2s infinite ease-in-out;
    content: '';
  }
}

@keyframes tfc-step-icon-dot-processing {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  to {
    transform: scale(2.4);
    opacity: 0;
  }
}
